<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='toast/toast.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/ui-lightness/jquery-ui-1.8.22.custom.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="wrap">
            <div class="header">
                <p class="clf-title"><span class="w1">Comic</span><span class="w2">Liberation</span><span class="w3">Front</span></p>
                <h1>{{ title }}</h1>
                {% block header %}{% endblock %}
            </div>
            <div class="nav">
                <ul>
                    {% block nav %}{% endblock %}
                    <li><a href="{{ url_for('settings') }}">Settings</a></li>
                </ul>
            </div>
            {% block content %}{% endblock %}
        </div>
        <div id="downloads">
            <h2>Active downloads</h2>
            <div class="download-progress"></div>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="messages">
            <ul>
                {% for m in messages %}
                <li>{{ m }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
        {% block footerscripts %}
        <script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui-1.8.22.custom.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/clf.js') }}"></script>
        {% endblock %}
    </body>
</html>
