{% extends 'layout.html' %}

{% block nav %}
<li><a href="{{ url_for('index') }}">Back</a></li>
<li><a href="{{ url_for('download', service_name=service_name, series_id=series_id) }}">Download all issues</a></li>
{% endblock %}

{% block content %}
<div class="grids">
    {% for issue in series %}
    <div class="grid-2">
        <img class="cover" src="{{ issue.small_cover_url }}" />
    </div>
    <div class="grid-2">
        <p class="issue-title"><a href="{{ issue.url }}">{{ issue.display_title }}</a></p>
        <p>
        {% if issue.downloaded %}
        Downloaded (<a class="download" data-service="{{ service_name }}" data-seriesid="{{ series_id }}" data-comicid="{{ issue.comic_id }}" href="#">Download&nbsp;Again</a>)
        {% else %}
        <a class="download" data-service="{{ service_name }}" data-seriesid="{{ series_id }}" data-comicid="{{ issue.comic_id }}" href="#">Download</a>
        {% endif %}
        <span class="ui-icon ui-icon-info" title="{{ issue.path }}"></span>
        
    </div>
    {% endfor %}
</div>
{% endblock %}
