{% extends 'layout.html' %}

{% block content %}
<div>
    <p>
        <a href="{{ url_for('index') }}">Back</a> &ndash; 
        <a href="{{ url_for('download', series_id=series_id) }}">Download all issues</a>
    </p>
</div>
<div class="grids">
    {% for issue in series %}
    <div class="grid-2">
        <img class="cover" src="{{ issue.cover }}" />
    </div>
    <div class="grid-2">
        <p class="issue-title"><a href="{{ issue.url }}">{{ issue.display_title }}</a></p>
        {% if issue.downloaded %}
        <p>Downloaded (<a class="download" data-seriesid="{{ series_id }}" data-comicid="{{ issue.comic_id }}" href="#">Download&nbsp;Again</a>)</p>
        {% else %}
        <p><a class="download" data-seriesid="{{ series_id }}" data-comicid="{{ issue.comic_id }}" href="#">Download</a></p>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
